@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
body{
        font-family: 'Inconsolata', monospace;
        background-color: rgb(97, 97, 97);
        user-select: none;
}

.contenedor{
    display: contents;
    flex-wrap: wrap;
}

.titulo{
    margin: 66px 0px;
    text-align: center;
    font-size: 55px;
    font-family: 'Chakra Petch', sans-serif;
    margin-left: -38px;
    min-width: 300px;
}

.contenido{
    text-align: justify;
    width: 350px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 696px;
    margin-right: 0px;
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .contenido{
        margin-left: 990px;
    }
}


.gif{
    height: 280px;
    width: 440px;
    border-radius: 23px;
    margin-top: -138px;
    margin-bottom: 100px;
    margin-left: 123px;
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .gif{
        margin-left: 270px;
    }
}

.square1{
    width: 800px;
    height: 80px;
    background-color: rgb(235, 235, 235);
    border-radius: 23px;
    margin-top: -410px;
    margin-bottom: 0px;
    margin-left: 248px;
    margin-right: 0px;
    box-shadow: 20px 14px 40px;
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .square1{
        margin-left: 550px;
    }
}

.square2{
    width: 830px;
    height: 300px;
    background-color: rgb(235, 235, 235);
    border-radius: 23px;
    margin-top: -527px;
    margin-bottom: 0px;
    margin-left: 235px;
    margin-right: 0px;
    box-shadow: 16px 14px 40px;
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .square2{
        margin-left: 535px;
    }
}

.square3{
    width: 830px;
    height: 300px;
    background-color: rgb(235, 235, 235);
    border-radius: 23px;
    margin: 348px 235px;
    box-shadow: 16px 14px 40px;
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .square3{
        margin-left: 535px;
    }
}

.contenido2{
    text-align: justify;
    width: 350px;
    font-size: 30px;
    margin-top: -640px;
    margin-bottom: 0px;
    margin-left: 254px;
    margin-right: 0px;
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .contenido2{
        margin-left: 550px;
    }
}

.camo{
    height: 180px;
    width: 340px;
    border-radius: 23px;
    margin-top: -13px;
    margin-bottom: 0px;
    margin-left: 125px;
    margin-right: 0px;  
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .camo{
        margin-left: 275px;
    }
}

.screenshot{
    height: 278px;
    width: 430px;
    border-radius: 23px;
    margin-top: -145px;
    margin-bottom: 0px;
    margin-left: 312px;
    margin-right: 0px;  
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .screenshot{
        margin-left: 460px;
    }
}

.logo{
    height: 188px;
    width: 213px;
    border-radius: 23px;
    margin-top: -25px;
    margin-bottom: 0px;
    margin-left: 411px;
    margin-right: 0px;  
    border: 2px solid white;
    box-shadow: 11px 15px 50px;
    transition: 300ms;
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .logo{
        margin-left: 690px;
    }
}

.logo:hover{
    transform: scale(1.1);
    transition: 300ms;
}

.credits{
    height: 188px;
    width: 350px;
    font-size: 32px;
    border-radius: 23px;
    margin-top: -163px;
    margin-bottom: 0px;
    margin-left: 656px;
    margin-right: 0px;  
    text-shadow: white 0px 0px 10px;
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .credits{
        margin-left: 960px;
    }
}


